@model This_Is_Soccer.Models.Entity.ClubModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClubModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClubName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClubLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClubLogo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClubId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
