@model IEnumerable<This_Is_Soccer.Models.Entity.ClubModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubLogo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClubName)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.ClubLogo)" width="100px" height="100px">
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClubId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClubId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClubId })
        </td>
    </tr>
}

</table>
