@model IEnumerable<This_Is_Soccer.Models.Entity.MyTeamModel>

@{
    ViewBag.Title = "Index";
    <link href="~/Content/football_pitch.css" rel="stylesheet"/>
}

@{ int att = 0; }
@{ int mid = 0; }
@{ int def = 0;}
@{ int gk = 0;}

@{ bool lcf = false; }
@{ bool rcf = false; }
@{ bool lm = false; }
@{ bool rm = false; }
@{ bool lcm = false; }
@{ bool rcm = false; }
@{ bool lb = false; }
@{ bool rb = false; }
@{ bool lcb = false; }
@{ bool rcb = false; }
@{ bool cgk = false; }

@{ var attackers = new List<This_Is_Soccer.Models.Entity.MyTeamModel>(); }
@{ var midders = new List<This_Is_Soccer.Models.Entity.MyTeamModel>(); }
@{ var defenders = new List<This_Is_Soccer.Models.Entity.MyTeamModel>(); }

@foreach (var item in Model)
{
    if (item.Player.PositionId == 11){ lcf = true; attackers.Add(item);}
    if(item.Player.PositionId == 10){rcf = true; attackers.Add(item);}
    if (item.Player.PositionId == 9){lm = true; midders.Add(item);}
    if (item.Player.PositionId == 8){rm = true; midders.Add(item);}
    if (item.Player.PositionId == 7){lcm = true; midders.Add(item);}
    if (item.Player.PositionId == 6){rcm = true; midders.Add(item);}
    if (item.Player.PositionId == 5){lb = true; defenders.Add(item);}
    if (item.Player.PositionId == 4){rb = true; defenders.Add(item);}
    if (item.Player.PositionId == 3){lcb = true; defenders.Add(item);}
    if (item.Player.PositionId == 2){rcb = true;defenders.Add(item);}
    if (item.Player.PositionId == 1){cgk = true;}
}

@{IEnumerable<This_Is_Soccer.Models.Entity.MyTeamModel> atts = 
        new List<This_Is_Soccer.Models.Entity.MyTeamModel>(attackers); }
@{IEnumerable<This_Is_Soccer.Models.Entity.MyTeamModel> midds = 
        new List<This_Is_Soccer.Models.Entity.MyTeamModel>(midders); }
@{IEnumerable<This_Is_Soccer.Models.Entity.MyTeamModel> defs = 
        new List<This_Is_Soccer.Models.Entity.MyTeamModel>(defenders); }

<div class="football-pitch">
    <div class=forward>

@foreach (var item in atts)
{
        <!--Left attack-->
    if (lcf == true && item.Player.PositionId == 11)
    {
        att++;
        <div class="attack player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">FWD</p>
            
            <span class="btn btn-success btn-xs">@Html.ActionLink("Remove player", "RemovePlayer", new { id = item.PlayerId })</span>
        </div>
     }

        if (item.Player.PositionId == 10)
        {
        att++;
        <!--Right Attack-->
        <div class="attacker player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">FWD</p>
            <span class="btn btn-success btn-xs">@Html.ActionLink("Remove player", "RemovePlayer", new { id = item.PlayerId })</span>
        </div>
        }
        }
        @while (att != 2)
                {
                    att++;
            <div class="attacker player-position">
                <img src="" />
                <p class="player-name"> </p>
                <p class="position"></p>
                <span class="btn btn-success btn-xs">Add player</span>
            </div>
        }
    </div>

    <div class="midfield">

@foreach (var item in midds)
{
    if (item.Player.PositionId == 9)
    {
        mid++;
        <div class="midfielder player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">LW</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
    if (item.Player.PositionId == 8)
    {
        mid++;
        <div class="midfielder player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">CM</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
    if (item.Player.PositionId == 7)
    {
        mid++;
        <div class="midfielder player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">CM</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
    if (item.Player.PositionId == 6)
    {
        mid++;
        <div class="midfielder player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">RW</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
   
}
        @while (mid != 4)
        {
            mid++;
            <div class="midfielder player-position">
                <img src="" />
                <p class="player-name"> </p>
                <p class="position"></p>
                <span class="btn btn-success btn-xs">Add player</span>
            </div>
        }
    </div>

    <div class="defense">
@foreach (var item in defs)
{
    if (item.Player.PositionId == 5)
    {
        def++;
        <div class="defender player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">LB</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
    if (item.Player.PositionId == 4)
    {
        def++;
        <div class="defender player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">CB</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
    if (item.Player.PositionId == 3)
    {
        def++;
        <div class="defender player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">CB</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
    if (item.Player.PositionId == 2)
    {
        def++;
        <div class="defender player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">RB</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
}
        @while (def != 4)
        {
            def++;
            <div class="defender player-position">
                <img src="" />
                <p class="player-name"> </p>
                <p class="position"></p>
                <span class="btn btn-success btn-xs">Add player</span>
            </div>
        }

    </div>
    <div class="goalkeeper">
@foreach (var item in Model)
{

    if (item.Player.PositionId == 1)
    {
        gk++;
        <div class="player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">GK</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
}
        @if (gk != 1)
        {
            gk++;
            <div class="player-position">
                <img src="" />
                <p class="player-name"> </p>
                <p class="position"></p>
                <span class="btn btn-success btn-xs">Add player</span>
            </div>
        }
    </div>

</div>


