@model IEnumerable<This_Is_Soccer.Models.Entity.MyTeamModel>

@{
    ViewBag.Title = "Index";
    <link href="~/Content/football_pitch.css" rel="stylesheet"/>
}

@{ int att = 0; }
@{ int mid = 0; }
@{ int def = 0;}
@{ int gk = 0;}

@{  bool lcf = false;
    bool rcf = false;
    bool lm = false;
    bool rm = false;
    bool lcm = false;
    bool rcm = false;
    bool lb = false;
    bool rb = false;
    bool lcb = false;
    bool rcb = false;
    bool cgk = false; }

@{ var defenders = new List<This_Is_Soccer.Models.Entity.MyTeamModel>(); }
@{ This_Is_Soccer.Models.Entity.MyTeamModel objlcf = null; }
@{ This_Is_Soccer.Models.Entity.MyTeamModel objrcf = null; }
@{ This_Is_Soccer.Models.Entity.MyTeamModel objlm = null; }
@{ This_Is_Soccer.Models.Entity.MyTeamModel objrm = null; }
@{ This_Is_Soccer.Models.Entity.MyTeamModel objlcm = null; }
@{ This_Is_Soccer.Models.Entity.MyTeamModel objrcm = null; }
@{ This_Is_Soccer.Models.Entity.MyTeamModel objlb = null; }
@{ This_Is_Soccer.Models.Entity.MyTeamModel objrb = null; }
@{ This_Is_Soccer.Models.Entity.MyTeamModel objlcb = null; }
@{ This_Is_Soccer.Models.Entity.MyTeamModel objrcb = null; }
@{ This_Is_Soccer.Models.Entity.MyTeamModel objgk = null; }

@foreach (var item in Model)
{
    if (item.Player.PositionId == 11){ lcf = true; objlcf = item; }
    if (item.Player.PositionId == 10){rcf = true; objrcf = item;  }
    if (item.Player.PositionId == 9){lm = true; objlm = item; }
    if (item.Player.PositionId == 8){rm = true; objrm = item; }
    if (item.Player.PositionId == 7){lcm = true; objlcm = item; }
    if (item.Player.PositionId == 6){rcm = true; objrcm = item; }
    if (item.Player.PositionId == 5){lb = true; objlb = item; }
    if (item.Player.PositionId == 4){rb = true; objrb = item; }
    if (item.Player.PositionId == 3){lcb = true; objlcb = item; }
    if (item.Player.PositionId == 2){rcb = true; objrcb = item; }
    if (item.Player.PositionId == 1){cgk = true; objgk = item; }
}

<div class="football-pitch">
    <div class=forward>
        <!--Left attack-->
        <div class="attack player-position">
            <img src="@if (lcf == true) {@Html.DisplayFor(modelitem => objlcf.Player.PlayerPic)}">
            <p class="player-name">@if (lcf == true) {@Html.DisplayFor(modelitem => objlcf.Player.PlayerName)}</p>
            <p class="position">FWD</p>
            
            @if (lcf == true)
            {
                <span class="btn btn-success btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = objlcf.PlayerId })</span>
            }
            @if (lcf == false)
            {
                <span class="btn btn-success btn-xs">Add Player</span>
            }
        </div>

        <!--Right Attack-->
        <div class="attacker player-position">
            <img src="@if (rcf == true) {@Html.DisplayFor(modelitem => objrcf.Player.PlayerPic)}">
            <p class="player-name">@if (rcf == true) {@Html.DisplayFor(modelitem => objrcf.Player.PlayerName)}</p>
            <p class="position">FWD</p>
            @if (rcf == true)
            {
            <span class="btn btn-success btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = objrcf.PlayerId })</span>
            }
            @if (rcf == false)
            {
                <span class="btn btn-success btn-xs">Add Player</span>
            }
</div>
        

    </div>

    <div class="midfield">

@foreach (var item in Model)
{
    if (item.Player.PositionId == 9)
    {
        mid++;
        <div class="midfielder player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">LW</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
    if (item.Player.PositionId == 8)
    {
        mid++;
        <div class="midfielder player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">CM</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
    if (item.Player.PositionId == 7)
    {
        mid++;
        <div class="midfielder player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">CM</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
    if (item.Player.PositionId == 6)
    {
        mid++;
        <div class="midfielder player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">RW</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
   
}
        @while (mid != 4)
        {
            mid++;
            <div class="midfielder player-position">
                <img src="" />
                <p class="player-name"> </p>
                <p class="position"></p>
                <span class="btn btn-success btn-xs">Add player</span>
            </div>
        }
    </div>

    <div class="defense">
@foreach (var item in Model)
{
    if (item.Player.PositionId == 5)
    {
        def++;
        <div class="defender player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">LB</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
    if (item.Player.PositionId == 4)
    {
        def++;
        <div class="defender player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">CB</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
    if (item.Player.PositionId == 3)
    {
        def++;
        <div class="defender player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">CB</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
    if (item.Player.PositionId == 2)
    {
        def++;
        <div class="defender player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">RB</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
}
        @while (def != 4)
        {
            def++;
            <div class="defender player-position">
                <img src="" />
                <p class="player-name"> </p>
                <p class="position"></p>
                <span class="btn btn-success btn-xs">Add player</span>
            </div>
        }

    </div>
    <div class="goalkeeper">
@foreach (var item in Model)
{

    if (item.Player.PositionId == 1)
    {
        gk++;
        <div class="player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">GK</p>
            <span class="btn btn-success btn-xs">Remove player</span>
        </div>
    }
}
        @if (gk != 1)
        {
            gk++;
            <div class="player-position">
                <img src="" />
                <p class="player-name"> </p>
                <p class="position"></p>
                <span class="btn btn-success btn-xs">Add player</span>
            </div>
        }
    </div>

</div>


