@model IEnumerable<This_Is_Soccer.Models.Entity.MyTeamModel>

@{
    ViewBag.Title = "Index";
    <link href="~/Content/football_pitch.css" rel="stylesheet"/>
}


<div class="football-pitch">

    <div class=forward>
        @{ int att = 0; }
        @{ int mid = 0; }
        @{ int def = 0;}
        @{ int gk = 0;}
@foreach (var item in Model)
{
        <!--Left attack-->
    if (item.Player.PositionId == 11)
    {
        att++;
        <div class="attack player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">FWD</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
            }

        if (item.Player.PositionId == 10)
        {
        att++;
        <!--Right Attack-->
        <div class="attacker player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">FWD</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
        }
        }
        @while (att != 2)
                {
                    att++;
            <div class="attacker player-position">
                <img src="" />
                <p class="player-name"> </p>
                <p class="position">FWD</p>
                <span class="btn btn-success btn-xs">Add player</span>
            </div>
        }
    </div>

    <div class="midfield">

@foreach (var item in Model)
{
    if (item.Player.PositionId == 9)
    {
        mid++;
        <div class="midfielder player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">LW</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
    }
    if (item.Player.PositionId == 8)
    {
        mid++;
        <div class="midfielder player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">CM</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
    }
    if (item.Player.PositionId == 7)
    {
        mid++;
        <div class="midfielder player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">CM</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
    }
    if (item.Player.PositionId == 6)
    {
        mid++;
        <div class="midfielder player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">RW</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
    }
}
    </div>

    <div class="defense">
@foreach (var item in Model)
{
    if (item.Player.PositionId == 5)
    {
        def++;
        <div class="defender player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">LB</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
    }
    if (item.Player.PositionId == 4)
    {
        def++;
        <div class="defender player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">CB</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
    }
    if (item.Player.PositionId == 3)
    {
        def++;
        <div class="defender player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">CB</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
    }
    if (item.Player.PositionId == 2)
    {
        def++;
        <div class="defender player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">RB</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
    }
}
    </div>
    <div class="goalkeeper">
@foreach (var item in Model)
{
    gk++;
    if (item.Player.PositionId == 1)
    {
        <div class="player-position">
            <img src="@Html.DisplayFor(modelitem => item.Player.PlayerPic)">
            <p class="player-name">@Html.DisplayFor(modelitem => item.Player.PlayerName)</p>
            <p class="position">GK</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
    }
}
    </div>

</div>


