@model This_Is_Soccer.Models.Entity.MyTeamModel[]

@using This_Is_Soccer.Controllers
@{
    ViewBag.Title = "Index";
    <link href="~/Content/football_pitch.css" rel="stylesheet"/>
}
<!--de her attributter og alle loopsne på fielded fjernes, husk det...-->

<div class="row col-md-12 my-team-main">
    <div class="col-md-7">
    <div class="football-pitch">
        <div class=forward>
            <!--Left attack-->
            <div class="attack player-position">
                <img src="@Html.DisplayFor(Model => Model[10].Player.PlayerPic)">
                <p class="player-name">@Html.DisplayFor(Model => Model[10].Player.PlayerName)</p>
                <p class="position">LCF</p>
            
                @if (Model[10] != null)
                {
                    <span class="btn btn-danger btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = Model[10].PlayerId }, new { @class = "text-remove" })</span>
                }
                @if (Model[10] == null)
                {
                    <span class="btn btn-success btn-xs">@Html.ActionLink("Add Player", "setPlayersAtPosition", new { id = 11 })</span>
                }
            </div>

            <!--Right Attack-->
            <div class="attacker player-position">
                <img src="@Html.DisplayFor(Model => Model[9].Player.PlayerPic)">
                <p class="player-name">@Html.DisplayFor(Model => Model[9].Player.PlayerName)</p>
                <p class="position">RCF</p>
                @if (Model[9] != null)
                {
                    <span class="btn btn-danger btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = Model[9].PlayerId }, new { @class = "text-remove" })</span>
                }
                @if (Model[9] == null)
                {
                    <span class="btn btn-success btn-xs">@Html.ActionLink("Add Player", "setPlayersAtPosition", new { id = 10 })</span>
                }
            </div>
        

        </div>

        <div class="midfield">

            <div class="midfielder player-position">
                <img src="@Html.DisplayFor(Model => Model[8].Player.PlayerPic)">
                <p class="player-name">
                @Html.DisplayFor(Model => Model[8].Player.PlayerName)</p>
                <p class="position">LM</p>
                @if (Model[8] != null)
                {
                    <span class="btn btn-danger btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = Model[8].PlayerId }, new { @class = "text-remove" })</span>
                }
                @if (Model[8] == null)
                {
                    <span class="btn btn-success btn-xs">@Html.ActionLink("Add Player", "setPlayersAtPosition", new { id = 9 })</span>
                }
            </div>
    

            <div class="midfielder player-position">
                <img src="@Html.DisplayFor(Model => Model[6].Player.PlayerPic)">
                <p class="player-name">
                @Html.DisplayFor(Model => Model[6].Player.PlayerName)</p>
                <p class="position">LCM</p>
                @if (Model[6] != null)
                {
                    <span class="btn btn-danger btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = Model[6].PlayerId }, new { @class = "text-remove" })</span>
                }
                @if (Model[6] == null)
                {
                    <span class="btn btn-success btn-xs">@Html.ActionLink("Add Player", "setPlayersAtPosition", new { id = 7 })</span>
                }
            </div>

            <div class="midfielder player-position">
                <img src="@Html.DisplayFor(Model => Model[5].Player.PlayerPic)">
                <p class="player-name">
                @Html.DisplayFor(Model => Model[5].Player.PlayerName)</p>
                <p class="position">RCM</p>
                @if (Model[5] != null)
                {
                    <span class="btn btn-danger btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = Model[5].PlayerId }, new { @class = "text-remove" })</span>
                }
                @if (Model[5] == null)
                {
                    <span class="btn btn-success btn-xs">@Html.ActionLink("Add Player", "setPlayersAtPosition", new { id = 6 })</span>
                }
            </div>


            <div class="midfielder player-position">
                <img src="@Html.DisplayFor(Model => Model[7].Player.PlayerPic)">
                <p class="player-name">
                @Html.DisplayFor(Model => Model[7].Player.PlayerName)</p>
                <p class="position">RM</p>
                @if (Model[7] != null)
                {
                    <span class="btn btn-danger btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = Model[7].PlayerId }, new { @class = "text-remove" })</span>
                }
                @if (Model[7] == null)
                {
                    <span class="btn btn-success btn-xs">@Html.ActionLink("Add Player", "setPlayersAtPosition", new { id = 8 })</span>
                }
            </div>
        </div>

        <div class="defense">

            <div class="defender player-position">
                <img src="@Html.DisplayFor(Model => Model[4].Player.PlayerPic)">
                <p class="player-name">
                @Html.DisplayFor(Model => Model[4].Player.PlayerName)</p>
                <p class="position">LB</p>
                @if (Model[4] != null)
                {
                    <span class="btn btn-danger btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = Model[4].PlayerId }, new { @class = "text-remove" })</span>
                }
                @if (Model[4] == null)
                {
                    <span class="btn btn-success btn-xs">@Html.ActionLink("Add Player", "setPlayersAtPosition", new { id = 5 })</span>
                }
            </div>

            <div class="defender player-position">
                <img src="@Html.DisplayFor(Model => Model[2].Player.PlayerPic)">
                <p class="player-name">
                    
                @Html.DisplayFor(Model => Model[2].Player.PlayerName)
            </p>
            <p class="position">LCB</p>
            @if (Model[2] != null)
            {
                <span class="btn btn-danger btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = Model[2].PlayerId }, new { @class = "text-remove" })</span>
            }
            @if (Model[2] == null)
            {
                <span class="btn btn-success btn-xs">@Html.ActionLink("Add Player", "setPlayersAtPosition", new { id = 3 })</span>
            }
        </div>

        <div class="defender player-position">
            <img src="@Html.DisplayFor(Model => Model[1].Player.PlayerPic)">
            <p class="player-name">
            @Html.DisplayFor(Model => Model[1].Player.PlayerName)
        </p>
        <p class="position">RCB</p>
        @if (Model[1] != null)
        {
            <span class="btn btn-danger btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = Model[1].PlayerId }, new { @class = "text-remove" })</span>
        }
        @if (Model[1] == null)
        {
            <span class="btn btn-success btn-xs">@Html.ActionLink("Add Player", "setPlayersAtPosition", new { id = 2 })</span>
        }
    </div>


    <div class="defender player-position">
        <img src="@Html.DisplayFor(Model => Model[3].Player.PlayerPic)">
        <p class="player-name">
        @Html.DisplayFor(Model => Model[3].Player.PlayerName)
    </p>
    <p class="position">RB</p>
    @if (Model[3] != null)
    {
        <span class="btn btn-danger btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = Model[3].PlayerId }, new { @class = "text-remove" })</span>
    }
    @if (Model[3] == null)
    {
        <span class="btn btn-success btn-xs">@Html.ActionLink("Add Player", "setPlayersAtPosition", new { id = 4 })</span>
    }
    </div>


    </div>
    <div class="goalkeeper">

        <div class="player-position">
            <img src="@Html.DisplayFor(Model => Model[0].Player.PlayerPic)">
            <p class="player-name">
            @Html.DisplayFor(Model => Model[0].Player.PlayerName)
        </p>
        <p class="position">GK</p>
        @if (Model[0] != null)
        {
            <span class="btn btn-danger btn-xs"> @Html.ActionLink("Remove player", "RemovePlayer", new { id = Model[0].PlayerId }, new { @class = "text-remove" })</span>
        }
        @if (Model[0] == null)
        {

            <span class="btn btn-success btn-xs"> @Html.ActionLink("Add Player", "setPlayersAtPosition", new { id = 1 })</span>
        }
    </div>
    </div>
        </div>
        </div>
    <div class="col-md-4 players-div" style="height: 350px; overflow:auto;">
        <h3>Players</h3>
        <table class="table players-table">
            @{ var myTeamController = new MyTeamController();
               var players = myTeamController.getPlayersAtPosition(); 
             }
            @foreach (var item in players)
            {
                <tr>
                    <td><img src="@Html.DisplayFor(modelItem=> item.PlayerPic)" style="width:40px; height: 40px;" /></td>
                    <td>@Html.DisplayFor(modelItem => item.PlayerName)</td>
                    <td><span class="btn btn-success btn-xs">@Html.ActionLink("Add", "addPlayerToMyTeam", new {id = item.PlayerId })</span></td>
                   
                </tr>
            }
        </table>
    </div>
</div>


