@model IEnumerable<This_Is_Soccer.Models.Entity.PlayerModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
@if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Club.ClubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.PositionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerPic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Club.ClubName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.PositionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.PlayerPic)" width="50px" height="50px">
        </td>

   @if (User.IsInRole("admin"))
   { 
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayerId }) |                                                             
            @Html.ActionLink("Details", "Details", new { id=item.PlayerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayerId })      
        </td>
   }
   @if (!User.IsInRole("admin"))
   {
        <td>
        @Html.ActionLink("Details", "Details", new { id = item.PlayerId })
        </td>
   }
    </tr>
}

</table>
